<template name="explore">

  {{> legend }}
  {{> zoomControl }}

  <div id="tooltip">
    <div id="tooltip_title"></div>
    <div id="tooltip_value"></div>
  </div>

  {{#if chartView }}
    {{> chart }}
  {{else}}
    {{> list }}
  {{/if}}

  {{# if showPopup }}
    {{# with popupContent }}
      {{#if visible }}
        {{#with node }}

          <div id="popup" style="height: '40%';">
            <div id="popup_nav">
              <div id="popup_x"></div>
            </div>
              <div id="popup_content">
                <div class="title">{{ name }}</div>
                <div class="info">
                  <span class="bold">{{_ "popup.origin" }}</span> {{ originsToString }} |
                  <span class="bold">{{_ "popup.reach" }}</span> {{ reachToString }}
                  {{# if purpose }}
                    | <span class="bold">{{_ "popup.purpose" }}</span> {{ purposeToString }}
                  {{/if}}
                  {{# if incidencyType }}
                    | <span class="bold">{{_ "popup.type" }}</span> {{ incidencyTypesToString }}
                  {{/if }}
                  {{# if isSponsor }}
                    | <span class="bold">{{_ "popup.financer" }}</span>
                  {{/if }}
                </div>
                <div class="about mt40">
                  {{ getDescription }}
                </div>
                <a id="popup_bt" href="{{ website }}" target="_blank" class="pop_bt link">WEBSITE</a>
                {{#if signalContext }}
                  <a id="popup_bt" href="signal/{{ _id }}" class="pop_bt details">{{_ "popup.details" }}</a>
                {{else}}
                  <a id="popup_bt" href="hub/{{ _id }}" class="pop_bt details">{{_ "popup.details" }}</a>
                {{/if}}
              </div>
            </div>
            {{/with}}
          {{/if}}
        {{/with}}
  {{/if}}

  <!-- FILTERS  -->

  {{> filterPanel }}

  <div id="curtain"></div>

  <!-- CONTROLS -->

  {{> viewControl }}

</template>
