<template name="listItem">
  <li class="list_item {{ context }}">
    <img src="../layout/plus_gray.png">
    <div class="title">{{ name }}</div>
    <div class="info">
      <span class="bold">{{_ "origin" }}</span> {{ originsLabel }}
      | <span class="bold">{{_ "reach" }}</span> {{ incidencyReachLabel }}
      {{#if purpose }}
        | <span class="bold">{{_ "purpose" }}</span> {{ purposeLabel }}
        | <span class="bold">{{_ "type" }}</span> {{ technologyTypeLabel }}
      {{else}}
        | <span class="bold">{{_ "financer" }}</span>
        {{# if isSponsor }}
          {{_ "yes" }}
        {{else}}
          {{_ "no" }}
        {{/if }}
      {{/if}}
    </div>
  </li>
</template>
