<template name="map">

  {{#if mapHelpIsOpen }}
    {{> mapHelp }}
  {{/if}}

  {{> zoomControl }}

  <div id="tooltip" style="{{ tooltipStyle }}">
    <div id="tooltip_title">{{ tooltipTitle }}</div>
    <div id="tooltip_subtitle">{{ tooltipSubtitle }}</div>
  </div>

  <!-- legend -->
  {{#if isSignalContext }}

    <div id="legend_bts">
			<div class='legend_bt' id="legend_sig_bt"></div>
		</div>

    <div id="legends" >
       <div id="legends_x"></div>
       <ul class="legend_list" id="legend_sig" style="left: 0px;">
          <div class="legend_title" id="legend_sig_title">{{_ "legend.signals.themes" }}</div>

          {{ #each legendList }}
            <li class="legend">
               <div class="color" style="background: {{ color }};"></div>
               <div class="lb">{{ translatedProperty "name" }}</div>
            </li>
          {{ /each }}
       </ul>
    </div>
  {{else}}

    <div id="legend_bts">
			<div class='legend_bt' id="legend_hub_bt"></div>
		</div>

    <div id="legends" >
       <div id="legends_x"></div>
       <ul class="legend_list" id="legend_hub" style="left: 0px;">
          <div class="legend_title" id="legend_hub_title">{{_ "legend.hubs.nature" }}</div>
          {{ #each legendList }}
            <li class="legend">
               <div class="color" style="background: {{ color }};"></div>
               <div class="lb">{{ translatedProperty "name" }}</div>
            </li>
          {{ /each }}
       </ul>
    </div>

  {{/if}}

  <div id="map_container">
    <div id="map"></div>
  </div>

  <div style="display: none;">
    {{ mapUpdateTrigger }}
  </div>


  {{# if showPopup }}
    {{> initiativePopup }}
  {{/if}}

  <!-- FILTERS  -->

  {{> filterPanel }}

  <div id="curtain"></div>

  <!-- CONTROLS -->

  {{> viewControl }}

</template>
