<template name="home">
  <div id="container">
    <img src="layout/update_home.png" id="update_logo_home">
    <div id="quotes">Um mapeamento do ecossistema de práticas políticas emergentes na América Latina que retrata os atores (hubs) e as práticas (sinais) que contribuem para a redução da distância entre a sociedade civil e o poder público.
    </div>
    <div id="credit">
      <span id="credit_who">
      </span>
      <span id="credit_what">
      </span>
    </div>
    <div class="home_bt" id="about">APRESENTAÇÃO
    </div>
    <div class="home_bt" id="explore">
      EXPLORAR
    </div>
  </div>
</template>
