<template name="home">
  <div id="container">
    <img src="../layout/update_home.png" id="update_logo_home">
    <div id="quotes">{{_ "home.quote" }}</div>
    <div id="credit">
      <span id="credit_who">
      </span>
      <span id="credit_what">
      </span>
    </div>
    <div class="home_bt" id="about">{{_ "home.buttons.intro" }}</div>
    <div class="home_bt" id="explore">{{_ "home.buttons.explore" }}</div>

    <div id="map_container">
			<div id="map"></div>
		</div>

    {{> mailingSubscribe }}
  </div>

  <div id="modal_home" class="modal" >
    <!-- <div id="update_logo" ></div> -->
    <div id="modal_home_box" class="modal_box" >
      <div id="modal_home_nav" class="modal_nav" >
        <img id="modal_home_x" class="modal_x" src="/layout/curtain_x.png"/>
        <img id="modal_home_next" class="modal_next" src="/layout/arrow_r.png"/>
        <img id="modal_home_prev" class="modal_prev" src="/layout/arrow_l.png" style="opacity: 0.2; cursor: 'default'"/>
        <div id="modal_home_nav_pos" class="modal_pos" >{{ modalPage }}/7</div>
      </div>
      <div id="modal_home_title" class="modal_title">{{ modalTitle }}</div>
      <div id="modal_home_text" class="modal_text">{{ modalText }}</div>
    </div>
  </div>

</template>
