<div id="home">
  <img src="/img/update_home.png" id="update_logo_home" />
  <div class="home_bt" id="intro">APRESENTAÇÃO</div>
  <div class="home_bt" id="explore">EXPLORAR</div>
  <div id="quotes">"Os problemas não serão resolvidos ao trocar os políticos por outros, mas ao assegurar que o eleitorado seja mais exigente e tome para si o controle do poder político."</div>
  <div id="credit">
    <span id="credit_who">Nome do figura</span>
    <span id="credit_what">Cargo dele</span>
  </div>
</div>
