<template name="methodForm">
  <h1>{{ formType }} method</h1>

  {{#if Template.subscriptionsReady}}
    {{#autoForm collection="Methods" doc=this id="methodForm" type=formType template="semanticUI"}}
      <button type="submit" class="ui button">{{ formType }}</button>
      <a class="ui button" href="{{pathFor route='method.list'}}" role="button">back</a>

      <fieldset>
        {{> afQuickField name='mechanism' options=mechanismOptions}}
        {{> afQuickField name='en'}}
        {{> afQuickField name='description_en' rows=6}}
        {{> afQuickField name='es'}}
        {{> afQuickField name='description_es' rows=6}}
        {{> afQuickField name='pt'}}
        {{> afQuickField name='description_pt' rows=6}}
      </fieldset>

    {{/autoForm}}
  {{else}}
    Loading...
  {{/if}}
</template>
