@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Stardos+Stencil:400,700);

body,
html{
  color:#fff;
  background: #262c38;
	font-size:11px;
	font-weight:400;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
    height: 18px;
    width: 18px;
}
/* Track */
::-webkit-scrollbar-track {
	background-color:#fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border:#fff 5px solid;
    background-color:#ccc;
}::-webkit-scrollbar-thumb:hover{
    background-color:#262c38;
}


::-webkit-input-placeholder { color: inherit; opacity: .2 }
:-moz-placeholder { color: inherit; opacity: .2 }
::-moz-placeholder { color: inherit; opacity: .2 }
:-ms-input-placeholder { color: inherit; opacity: .2 }

input:focus::-webkit-input-placeholder {  opacity:0 }
input:focus:-moz-placeholder { opacity: 0 }
input:focus::-moz-placeholder {  opacity: 0 }
input:focus:-ms-input-placeholder {  opacity: 0}

.bold{ font-weight:900}
.light{ font-weight:100}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#container{
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100%;
}


/* ////////////////////////// MENU ////////////////////////// */

.bt{ cursor: pointer; }

#menu{
    background: #1c212b;
    width: 400px;
    height: 100%;
    position: fixed;
    left: -400px;
    top: 0;
    z-index: 11;
}

.mobile
    #menu{
        width: 80%;
        left: -80%;
    }

#menu_close{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url('../layout/x.png');
    cursor: pointer;
}

.mobile
    #menu_close{
        top: 0;
        left: 5px;
    }

#menu_bts{
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 100px;
    left: 35px;
}

.mobile
    #menu_bts{
        top: 70px;
        left: 20px;
    }

#menu_bts
    .bt{
        margin-bottom: 10px;
        list-style: none;
        opacity: .3;
    }

#menu_bts
    .bt:hover{
        opacity: 1;
    }

#menu_bts
    .bt.selected{
        color: #fff;
        font-weight: 700;
        opacity: 1;
        cursor: default;
    }

#contact{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.land
    #contact{
        bottom: 0;
        top: 0;
        height: 200px;
        margin: auto;
        right: 20px;
        width: 50px;
        font-size: 0;
        line-height: 0;
    }

#contact
    .bt{
        display: inline-block;
        width: 50px;
        height: 50px;
    }

.land
    #contact
        .bt{
            display: block;
            background-size: contain;
        }

#email{ background-image: url('../layout/email.png') }
#fbook{ background-image: url('../layout/fbook.png') }
#twitter{ background-image: url('../layout/twitter.png') }
#github{ background-image: url('../layout/github.png') }


/* //////////////////////////  MODAL + POPUP ////////////////////////// */


#modal{
    width: 90%;
    height: 90%;
    max-width: 720px;
    max-height: 720px;
    position: fixed;
    z-index: 20;
    background: #fff;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    color: #262c38;
    display: none;
    overflow: hidden;
    text-align: center;
}

#modal_nav{
    width: 100%;
    height: 50px;
}

#modal_content{
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding: 0 50px;
    overflow:auto;
}

#modal_content
    .about{
        margin-top: 30px;
        text-align: left;
    }

.mobile
    #modal_content
        .about{
            font-size: 16px;
            line-height: 20px;
        }

.mobile
    #modal_content .info{
        font-size: 12px;
        line-height: 18px;
    }

.mobile
  #modal_content{
    padding: 0 20px;
  }


#modal_x{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-image: url('../layout/modal_x.png');
    background-position: center;
    background-repeat: no-repeat;
}

.table{
    display: table;
    width: 100%;
    height: 100%;
}

.table_cell{
    display: table-cell;
    vertical-align: middle;
}


/* Track */
#modal_content::-webkit-scrollbar-track {
	background-color:#fff;
}
/* Handle */
#modal_content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border:#fff 5px solid;
    background-color:#ccc;
}#modal_content::-webkit-scrollbar-thumb:hover{
    background-color:#262c38;
}

#curtain{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(33,39,51,.7);
    z-index: 9;
    display: none;
}

/* ////////////////////////// HOME ////////////////////////// */


#update_logo_home{
    position: absolute;
    bottom:55%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 800px;
    width:80%;
    z-index: 1
}

.land
    #update_logo_home{
        width: 60%;
    }

.home_bt{
    position: absolute;
    width: 250px;
    height: 68px;
    padding: 25px 40px;
    border: #fff 1px solid;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    background-repeat: no-repeat;
    bottom: 10%;
    z-index: 2;
}
.mobile
    .home_bt{
        font-size: 14px;
        padding: 20px;
        width: 48%;
        height: 54px;
        bottom: 5%;
    }

.home_bt:hover{
    background: #fff;
    color: #262c38;
}

#about{
    right: 50.2%;
    background-image: url("../layout/play1.png");
    background-position: right;
 }

.port
     #about{
        text-align: left;
     }

 #about:hover{
     background-image: url("../layout/play2.png");
     background-repeat: no-repeat;
 }

#explore{
    left: 50.2%;
    background-image: url("../layout/compass1.png");
    background-position: left;
}

.port
     #explore{
        text-align: right;
     }

#explore:hover{
    background-image: url("../layout/compass2.png");
    background-repeat: no-repeat;
}

#quotes{
    position: absolute;
    top: 50%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    z-index: 1;
}

.mobile
    #quotes{
        font-size: 14px;
        width: 90%;
        line-height: 18px;
    }

#credit{
    width: 70%;
    left: 15%;
    position: absolute;
    bottom:10%;
    font-size: 20px;
    text-align: center;
}

#credit_who{
    font-weight: 600;
}

#credit_what{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
}

/* ////////////////////////// HEADER ////////////////////////// */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 8;
}

#header.dark{
  background:#262c38;
}

.mobile
    #header{
        height: 50px;
    }

#menu_bt{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-image: url('../layout/menu.png');
    cursor: pointer;
}

.mobile
    #menu_bt{
        top: 0;
        left: 5px;
    }

#update_logo{
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 32px;
    cursor: pointer;
}

.mobile
    #update_logo{
        width: 80px;
        top: 18px;
    }

#cur_lang{
  position: absolute;
  right: 25px;
  top: 25px;
  display: table;
}

.mobile
  #cur_lang{
    right: 12px;
    top: 12px;
  }

#language{
    position: absolute;
    right: 25px;
    top: -30px;
    display: table;
}

.mobile
    #language{
        right: 12px;
    }

.lang{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff;
    border:#fff 1px solid;
    cursor: pointer;
    border-radius: 1px;
    opacity: .3
}

.mobile
    .lang{
        width: 25px;
        height: 25px;
    }

.lang:hover{
    background: #fff;
    color: #262c38;
    font-weight: 600;
    opacity: 1;
}

.lang.selected{
    background: #fff;
    color: #262c38;
    font-weight: 600;
    opacity: 1;
}


.lg_sep {
    width: 2px;
    display: table-cell;
}

/* ////////////////////////// model ////////////////////////// */

#mode{
  position: absolute;
  left: 20px;
  height: 100%;
}

.mobile
  #mode{
    left: 0;
    width: 50px;
    height: 50px;
  }

.mode{
  width: 40px;
  height: 100%;
  opacity: .3;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.mobile
  .mode{
    left: 0;
    width: 50px;
    height: 35%;
    background-size: 40px;
    position: relative;
    top: 7px;
  }

.mode.selected{
  opacity: 1;
}

#mode_chart{
  background-image: url('../layout/chart.png');
}

#mode_list{
  background-image: url('../layout/list.png');
}

/* ////////////////////////// HELP ////////////////////////// */

#help_bt{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../layout/help.png");
    background-position: center;
}

.mobile
    #help_bt {
        right: 0;
        background-size: 50px;
    }

#help{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#help_box{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    z-index: 21;
}

.mobile
    #help_box{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 3px;
    }

#help_nav{
    width: 100%;
    height: 50px;
    position: relative;
    display: table;
    margin-bottom: 20px;
}

#help_x{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#help_next{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
}

#help_prev{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50px;
    cursor: pointer;
}

#help_nav_pos{
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.mobile
    #help_nav_pos{
        font-size: 24px;
    }


#help_title{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    line-height:30px;
}

.mobile
    #help_title{
        font-size: 16px;
    }

#help_text{
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    line-height:24px;
    font-weight: 300;
}

.mobile
    #help_text{
        padding: 0 20px;
        font-size: 14px;
        line-height:18px;
    }

#help_frame{
    position: fixed;
    z-index: 20;
}

#help_frame
    div{
        height: 100%;
        position: absolute;
        background: rgba(33,39,51,.9);
    }

#help_frame
    .left{
        right: 100%;
        height: 8000px;
        width: 4000px;
        top: -4000px;
    }

#help_frame
    .right{
        left: 100%;
        height: 8000px;
        width: 4000px;
        top: -4000px;
    }

#help_frame
    .top{
        left: 0;
        width: 100%;
        height: 4000px;
        bottom: 100%;
    }

#help_frame
    .bottom{
        left: 0;
        width: 100%;
        height: 4000px;
        top:100%;
    }

#help_frame
    .frame{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 3px #fff solid;
        opacity: 1;
        background: none;
    }

/* ////////////////////////// CONTROL ////////////////////////// */

#control{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #2d3340;
    border-bottom: #262c38 1px solid;
}

.mobile
    #control{
        height: 50px;
    }


#control_center{
  display: table;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 480px;
  height: 100%;
  border-left: #262c38 1px solid;
  border-right: #262c38 1px solid;
}

.mobile
  #control_center{
    width: 220px;

  }

.control{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    z-index: 5;
    background: #2d3340;
    position: relative;
    font-size: 18px;
    font-weight: 300;
}

#circles{
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 11px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    background-image: url('../layout/circles.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 8;
}

.mobile
    #circles{
        left: 0;
        top: -53px;
        font-size: 10px;
        height: 47px;
    }

#circles_in{
    position: absolute;
    left: 80px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #fff;
}

#circles_out{
    position: absolute;
    right: 80px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: right;
    color: #fff;
    opacity: .2;
}


  /* control HUB */


#control_hub{
    width:200px;
    background-image: url("../layout/hub1.png");
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    opacity: .2;
}

.mobile
  #control_hub{
    width:85px;
    background-position: top;
    background-size: 40px;
    font-size: 12px;
    text-align: center;
  }

.mobile
  #control_hub
    span{
      position: relative;
      top: 12px;
    }

#control_hub.on {
  opacity: 1;
}
#control_hub.on:hover {
  background-color: #2d3340;
  cursor: default;
}



#score_hub{
  padding-left: 30px;
  font-weight: 700;
}

.mobile
    #score_hub{
      padding-left: 0;
    }

#control_hub:hover{
    background-color: #2a303c;
}

.mobile
  #control_hub:hover{
      background-color:  #2d3340;
  }

  /* control SIG */

#control_sig{
    width: 200px;
    background-image: url("../layout/sig1.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    opacity: .2;
}

.mobile
  #control_sig{
    width:85px;
    background-position: top;
    background-size: 40px;
    font-size: 12px;
    text-align: center;
  }

.mobile
  #control_sig
    span{
      position: relative;
      top: 12px;
    }


#control_sig.on {
  opacity: 1;
}
#control_sig.on:hover {
  background-color: #2d3340;
  cursor: default;
}

#score_sig{
  font-weight: 700;
}

#control_sig:hover{
    background-color: #2a303c;
}


.mobile
  #control_sig:hover{
      background-color:  #2d3340;
  }

.flap{
    width: 100%;
    height: 4px;
    border: 1px #262c38 solid;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}

.on .flap{
  display: block;
}

#control_sig .flap{ background-color: #53adde; }
#control_hub .flap{ background-color: #d29f6c; }


/* control_filters */

#control_filters{
    font-size: 16px;
    width: 80px;
    background-image: url("../layout/filter.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    background-color: #2d3340;
    border-left: #262c38 1px solid;
    border-right: #262c38 1px solid;
}

.mobile
    #control_filters{
        background-size: 50px;
        width: 52px;
    }

#control_filters:hover{
    background-color: #2a303c;
}

.mobile
  #control_filters:hover{
      background-color:  #2d3340;
  }

#filters_counter{
  position: absolute;
  bottom: 55px;
  left:35px;
}

.mobile
  #filters_counter{
    bottom: 30px;
    left:15px;
    font-size: 8px
  }

#filters_lb{
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 11px;
  left: 0;
  bottom: 10px;
}

.mobile
  #filters_lb{
    font-size: 9px;
    bottom: 5px;
  }


/* /////////////////////////// filters  */

#filters{
  position: fixed;
  top: 20px;
  width: 350px;
  z-index: 11;
  background-color: #2d3340;
}

#filters_header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 10;
  border-bottom: #262c38 1px solid;
  display: table;
}

.mobile
  #filters_header{
    height: 50px;
  }

#filters_list{
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  overflow: auto;
}

.mobile #filters{
  width: 90%;
}

/* Track */
#filters_list::-webkit-scrollbar-track {
	background-color:#2d3340;
}
/* Handle */
#filters_list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border:#2d3340 5px solid;
  background-color:#525762;
}#filters_list::-webkit-scrollbar-thumb:hover{
  background-color:#fff;
}

.filter_title{
    width: 100%;
    padding: 20px 10px 20px 60px;
    font-size: 16px;
    font-weight: 300;
    background-image: url("../layout/plus_white.png");
    background-repeat: no-repeat;
    background-position: left;
    text-transform: uppercase;
    cursor: pointer;
}

.mobile
    .filter_title{
        font-size: 12px;
        background-size: 40px;
        padding: 10px 5px 10px 40px;
    }

#filters_sep{
    width: 100%;
    padding: 15px 10px 10px 60px;
    font-size: 12px;
    font-weight: 300;
    opacity: .3;
    border-top: rgba(255,255,255,.3) 1px solid
}

.mobile
    #filters_sep{
        padding: 10px 5px 5px 40px;
    }

#filters
    .group{
        overflow: hidden;
        height: auto;
        background: #2a303c;
    }

.filter{
    width: 100%;
    padding: 6px 0 6px 30px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    border-radius: 12px;
    cursor: pointer;
    opacity: .2;
    position: relative;
    top:15px
}

.mobile
    .filter{
        font-size: 11px;
        line-height: 14px;
        padding: 3px 0 3px 25px;
        margin-left: 15px;
        background-size: 12px;
    }

.filter:hover{
    opacity: 1;
}

.filter.selected{
    color: #fff;
    font-weight: 300;
    background-image: url("../layout/cancel.png");
    background-repeat: no-repeat;
    background-position: left;
    opacity: 1;
}

.counter{
    background: #fff;
    padding: 0 5px;
    border:#fff 1px solid;
    border-radius: 10px;
    color: #2d3340;
    font-size: 13px;
    margin: 0 10px;
    font-weight: 700;
    position: relative;
    bottom:1px;
    text-align: center;
    display: inline-block;
    opacity: 0.2;
}

.mobile
    .counter{
        font-size: 10px;
    }


  #trash{
      width: 100%;
      height: 57px;
      background-image: url("../layout/trash.png");
      background-repeat: no-repeat;
      background-position: left;
      z-index: 5;
      display: table-cell;
      vertical-align: middle;
      padding-left:70px;
      cursor: pointer;
  }

  .mobile
      #trash{
          height: 50px;
          background-size: 50px;
          padding-left:50px;
      }

    #trash:hover {
        background-color: #2a303c;
    }

    #trash.empty {
        cursor: default;
        background-image: url("../layout/trash.png");
        pointer-events: none;
        opacity: 0.3;
        cursor: default;
    }

    #trash.empty:hover {
        background-color: #2d3340;
    }

    #filters_x{
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('../layout/x.png');
      background-position: center;
      border-left: #262c38 1px solid;
      cursor: pointer;
    }

    #filters_x:hover {
        background-color: #2a303c;
    }


/* ////////////////////////// MAP ////////////////////////// */


#tooltip{
  display: none;
	position: fixed;
	z-index: 10;
	padding: 10px 15px;
  color: #fff;
  text-align: center;
	text-transform: uppercase;
  pointer-events: none;
}

#tt_title{
    width: 100%;
    font-weight: 600;
	font-size: 13px;
    margin-bottom: 3px;
}

#tt_val{
    width: 100%;
    font-weight: 300;
	font-size: 16px;
}

#map_container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

#map{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
}

#svg_map_area{
    position: absolute;
    left: -1000px;
    top: -1000px;
    width: 2000px;
    height: 2000px;
}

#legends{
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
    pointer-events: none;
}

.mobile
    #legends{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(33,39,51,.9);
        z-index: 200;
        left: 0;
        top: 0;
        pointer-events: all;
    }

.mobile
    #legends_x{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;;
        top: 3px;
        right: 20px;
        background-image: url("../layout/x.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 20;
    }


#legend_bts{
    display: none;
}

.mobile
    #legend_bts{
        display: block;
        position: absolute;
        left: 20px;
        top: 0;
        bottom:0;
        margin: auto;
        width: 7px;
        height: 32px;
        z-index: 10;
    }

#legends_x{
    display: none;
}

.legend_bt_color{
    width: 8px;
    height: 8px;
    border-radius: 10px;
    margin-bottom: 3px;
    display: block;
}

.legend_list{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -300px;
    top: 0;
    bottom:0;
    margin: auto;
}


.mobile
    .legend_list{
        position: relative;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

.legend_title{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.mobile
    .legend_title{
        margin-top: 30px;
        margin-left: 20px;
    }

.legend{
    width: 100%;
    margin-bottom: 7px;
}

.mobile
    .legend{
        margin-left: 20px;
    }

.mobile
    .legend:last-child{
        margin-bottom: 30px;
    }

.legend
    .lb{
        font-size: 13px;
        font-weight: 100;
        display: inline-block;
        text-transform: uppercase;
        margin-left: 4px;
    }

/*.legend .pc{
    font-weight: 600;
    margin-left: 5px;
    font-size: 12px;
}*/

.legend
    .color{
        width: 11px;
        height: 11px;
        background: #f00;
        display: inline-block;
        margin-right: 5px;
        border-radius: 10px;
    }

#zoom_control{
    position: absolute;
    width: 35px;
    height: 71px;
    right: 35px;
    top: 0;
    bottom:0;
    margin: auto 0;
    z-index: 1;
    cursor: pointer;
}

.mobile
  #zoom_control{
    right: 12px;
  }

#zoom_in{
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    background-image: url("../layout/zoom_in.png");
    background-position: center;
    border-radius: 1px;
}

#zoom_out{
    width: 35px;
    height: 35px;
    background-image: url("../layout/zoom_out.png");
    background-position: center;
    border-radius: 1px;
}


/* ////////////////////////// LIST ////////////////////////// */

#list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f2f0f2;
    color: #2d3340;
    overflow: auto;
    overflow-x: hidden;
    z-index: 2;
}

#list_header {
    width: 100%;
    height: 40px;
    font-size: 14px;
    z-index: 3;
    position: absolute;
    top: 80px;
    left: 0;
    color:#262c38;
    text-align: center;
    padding-top: 12px;
    background-color: #fff;
}

.mobile #list_header{
  top: 50px;
  height: 30px;
}

#list_header_title{
    background-image: url("../layout/list.png");
    background-repeat: no-repeat;
    background-position: left;
}

#search{
    width: 100%;
    height: 100%;
    background-image: url('../layout/search.png');
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-left: #fff 10px solid;
    border-right: #fff 15px solid;
}

.mobile #search{
  background-size: contain;
}

#search_str{
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    border:0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #262c38;
    position: abosolute;
    bottom: 0;
    margin: 0;
    outline: 0;
}

.mobile #search_str{
  font-size: 12px;
}

::-webkit-input-placeholder {
     opacity: .3;
}

#search_x{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto;
    right: 18px;
    background-image: url('../layout/search_x.png');
    cursor: pointer;
}

.mobile #search_x{
  right: 0;
}


/* Track */
#list::-webkit-scrollbar-track {
	background-color:#f2f0f2;
}
/* Handle */
#list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border:#f2f0f2 5px solid;
    background-color:#b3b1b3;
}#list::-webkit-scrollbar-thumb:hover{
    background-color:#262c38;
}

.list_item{
    width: 100%;
    padding-top: 25px;
    padding-left: 20px;
    cursor: pointer;
    background-position: left;
    background-repeat: no-repeat;
    height: 90px;
    text-align: center;
    position: relative;
    border: #fff 1px solid;
    border-top: none;
    background-color: #f2f0f2;
}

.mobile
  .list_item{
    height: 70px;
    background-size: 40px;
    padding-top: 15px;
  }


.layout2
    .list_item{
        width: 50%;
        float: left;
    }

.list_item:hover{
    background-color: #e5e3e5;
}

.title{
    font-family: 'Stardos Stencil';
    font-size: 28px;
    min-height: 30px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.mobile
    .title{
        font-size: 20px;
        margin-bottom: 0;
    }

.list_item
    .info{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.mobile
  .list_item
      .info{
          font-size: 11px;
          width: 80%;
          overflow: hidden;;
          text-overflow: ellipsis;
          white-space: nowrap;
      }

.layout2 .list_item .info{
    width: 80%;
}

.list_item img{
    position: absolute;
    right: 0;
    top: 20px;
}

.mobile .list_item img{
    position: absolute;
    right: 0;
    top: 10px;
}

.list_item .bod{
    font-weight: 900;
}

#list_hub
    .list_item{
        background-image: url("../layout/hub2.png");
    }

#list_sig
    .list_item{
        background-image: url("../layout/sig2.png");
    }



/* ////////////////////////// content ////////////////////////// */


#content{
    width: 100%;
    padding: 180px 50px;
}

.mobile
  #content{
    padding: 100px 20px;
  }

#content
    .title {
        font-family: 'Stardos Stencil';
        font-size: 70px;
        font-weight: 400;
        width: 100%;
        color: #262c38;
        text-align: center;
        margin: 0 0 100px 0;
    }

.mobile
  #content
    .title {
      font-size: 40px;
      margin: 0 0 70px 0;
  }

#container.dark
    .title{
        color: #fff;
    }

#content
    .subtitle {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin: 40px 0;
    }


.mt40{
    margin-top:40px;
}

hr{
    width: 100%;
    height: 1px;
    border:none;
    background: #000;
    opacity: .3;
    margin: 40px 0;
}

.subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}


.list{
    width: 100%;
}

.box{
    font-size: 16px;
    padding: 30px;
    color: #fff;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: 400;
}

.box_title{
    font-family: 'Stardos Stencil';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.item{
    font-family: 'Stardos Stencil';
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    cursor: pointer;
    line-height: 34px;
    background-image: url('../layout/plus_white.png');
    background-repeat: no-repeat;
    background-position: right;
    list-style: none;
    color: #fff;
}

.item_plus{
    overflow: hidden;
    color:#fff;
    font-size: 14px;
	font-weight:400;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 0 30px;
    text-align: left;
    margin-bottom: 1px;
}

.section{
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
    text-align: center;
}

.link{
    font-weight: 400;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    line-height: 34px;
    background-image: url('../layout/popup.png');
    background-repeat: no-repeat;
    background-position: right;
    list-style: none;
    color: #fff;
    background-color: #2d3340;
    padding: 15px 40px;
    margin-bottom: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link:hover{
    background-color: #2a303c;
}

#sub_content{
    max-width: 800px;
    margin: auto;
	-webkit-user-select:all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.text{
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
}


/* ////////////////////////// about ////////////////////////// */

#staff{
    width: 100%;
    font-size: 0;
}

.staff{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    padding-left: 180px;
    min-height: 150px;
}

.port
  .staff{
    padding-left: 0;
  }

.staff img{
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}

.port
  .staff img{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
  }

.staff_name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.staff_about{
    font-size: 16px;
    top: 30px;
    left: 200px;
    line-height: 20px;
    font-weight: 400
}


/**/
