<template name="hubList">
    <h1>Hubs</h1>
    {{#if Template.subscriptionsReady}}
      <a class="ui button" href="{{pathFor route='hub.create'}}" role="button">new</a>
      <table class="table_list ui celled table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each hubs}}
            <tr>
              <td>
                <a href="{{pathFor route='hub.edit'}}">
                  {{name}}
                </a>
                <a href="{{pathFor route='hub.edit'}}" class="edit"></a>
                <a class="remove"></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      Loading...
    {{/if}}
</template>
