<template name="signalForm">
  <h1>{{ formType }} signal</h1>


  {{#if Template.subscriptionsReady}}
    {{#autoForm collection="Signals" doc=this id="signalForm" type=formType template="semanticUI"}}

      <button type="submit" class="ui button">{{ formType }}</button>
      <a class="ui button" href="{{pathFor route='signal.list'}}" role="button">back</a>

      <fieldset>
        {{> afQuickField name='name'}}
        {{> afQuickField name='website'}}
        {{> afQuickField name='city'}}
        {{> afQuickField name='purpose' options=purposeOptions }}
        {{> afQuickField name='technologyType' options=technologyTypeOptions }}
        {{> afQuickField name='placesOfOrigin' options=originsOptions }}
        {{> afQuickField name='mainThemes' options=themesOptions }}
        {{> afQuickField name='secondaryThemes' options=themesOptions }}
        {{> afQuickField name='incidencyReach' options=incidencyReachOptions }}
        {{> afQuickField name='incidencyTypes' options=incidencyTypeOptions }}
        {{> afQuickField name='parentHubs' options=hubsOptions }}
        {{> afQuickField name='methods' options=methodOptions }}
        {{> afQuickField name='isOpenLicense' }}
        {{> afQuickField name='description_pt' rows=6 }}
        {{> afQuickField name='description_en' rows=6 }}
        {{> afQuickField name='description_es' rows=6 }}
      </fieldset>

    {{/autoForm}}
  {{else}}
    Loading...
  {{/if}}
</template>
