<template name="signalList">
    <h1>Signals</h1>
    {{#if Template.subscriptionsReady}}
      <a class="ui button" href="{{pathFor route='signal.create'}}" role="button">new</a>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Signal</th>
          </tr>
        </thead>
        <tbody>
          {{#each signals}}
            <tr>
              <td>
                <a href="{{pathFor route='signal.edit'}}">{{ name }}</a>
                <a href="{{ pathFor route='signal.edit' }}" class="edit"></a>
                <a class="remove"></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      Loading...
    {{/if}}
</template>
