<head>
  <meta charset="utf-8">
  <title>Update Politics!</title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <meta name="google-site-verification" content="1fsQctuO--gKP-a9LKcf3Gh8WTr8Cb-TxRORwR2bTdc" />

  <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
  <link rel="icon" href="/favicon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/favicon-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/favicon-62.png" sizes="62x62" type="image/png">
  <link rel="icon" href="/favicon-192.png" sizes="192x192" type="image/png">

</head>

<template name="header">
  <div id="nav_bar" role="navigation">
  	<div class="navbar-header">
  		<a id="nav_bar_logo" class="" href="#"></a>
      <button id='user' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  	</div>
  	<div class="">
  		<ul id='nav' >
  			<li class="nav_bt"><a href="{{pathFor 'hub.list'}}">Hubs</a></li>
  			<li class="nav_bt"><a href="#">Signals</a></li>
  			<li class="nav_bt"><a href="#">Pages</a></li>

        {{#if currentUser }}
          <li class="nav_bt"><a href="{{pathFor 'admin'}}"><b>Admin</b></a></li>
        {{/if}}

  		</ul>
  		<ul class="nav navbar-nav navbar-right">
  			{{> loginButtons}} <!-- here -->
  		</ul>
  	</div>
  </div>
</template>
