<template name="about">


  <div id="container" class="dark1">

    <div id="fake_header"></div>


  		<div id="intro" class="content dark1">
  			<div class="sub_content">
  				<div class="content_title">{{_ "aboutPage.about.title" }}</div>
  					{{{_ "aboutPage.about.text" }}}
  			</div>
  		</div>

  		<div id="context" class="content dark2">
  			<div class="sub_content">
  				<div class="content_title">{{_ "aboutPage.context.title" }}</div>
          {{{_ "aboutPage.context.text" }}}
  			</div>
  		</div>

  		<div id="who" class="content dark1">
  			<div class="sub_content">
  				<div class="content_title">{{_ "aboutPage.team.title" }}</div>
  				<ul id="staff">
  					<li class="staff">
  						<img src="/photo/beatriz.jpg">
  						<div class="staff_about"><strong>Beatriz Pedreira</strong>{{_ "aboutPage.team.beatriz" }}</div>
  					</li>
  					<li class="staff">
  						<img src="/photo/caio.jpg">
  						<div class="staff_about"><strong>Caio Tendolini</strong>{{_ "aboutPage.team.caio" }}</div>
  					</li>
  					<li class="staff">
  						<img src="/photo/rafael.jpg">
  						<div class="staff_about"><strong>Rafael Poço</strong>{{_ "aboutPage.team.rafael" }}</div>
  					</li>
  					<li class="staff">
  						<img src="/photo/tulio.jpg">
  						<div class="staff_about"><strong>Tulio Malaspina</strong>{{_ "aboutPage.team.tulio" }}</div>
  					</li>
  				</ul>
  			</div>
  		</div>

  		<div id="financer" class="content dark2">
  			<div class="sub_content">
          {{{_ "aboutPage.financer" }}}
   			</div>
  		</div>

  		<div id="transparency" class="content dark1">
  			<div class="sub_content">
  				{{{_ "aboutPage.transparency" }}}
  			</div>
  		</div>

  		<div id="partners" class="content dark2">
  			<div class="sub_content">
  				<div class="content_title">{{{_ "aboutPage.collaborators.title" }}}</div>
  					<p>Juliana Nolasco, Pedro Abramovay, Pablo Collada, Lúcia Nader, Eduardo Rombauer, Talita Montiel, Raul Torres, Guilherme Turri, Manoela Miklos, Matias Bianchi, Ana Carolina Evangelista, Oliver Stuenkel, Gabi Juns, Luiz Eduardo Soares, Carla Mayumi, and Daniel Joppert.</p>
  			</div>
  		</div>

  	</div>


</template>
