<template name="about">



  <div class="ui text container">

    <!-- ABOUT  -->
    <section class="dark1">
      <h1>About Update</h1>
      <p>
        Update seeks to contribute to the updating of Latin American democracy through the    strengthening of the fields of political innovation and emerging political practices that act on the region and promote disruptive experiments. For that purpose, Update is configured as a laboratory of comprehension, diffusion and promotion of sharing among actors in the field, in pursuit of a more democratic Latin America, with renewed political practices and more participative organizations and more active individuals, for the construction of less unequal, more just and more inclusive societies.
      </p>
    </section>



    <!-- CONTEXT  -->

    <section class="dark2">

      <h1>Context in which Update emerges</h1>

      <p>
        The 21st century presents new demands and possibilities for politics.
      </p>

      <p>
        According to Yochai Benkler, author of The Wealth of Networks, we live in a moment of transition from an industrial society to an interconnected society. In the field of politics, this transformation presents itself in the possibility of a more participative democracy. Moisés Naim, author of The End of Power, says that we are seeing the arisal of an overwhelming wave of political innovation in the world, which can be equated in disruptive character to what was observed in other economic and social sectors and which presents the possibility to recover citizen belief in democratic institutions.
      </p>

      <p>
        The need for this reinvention is presented in the form of a global representativity crisis, evidenced by the financial crisis in 2008. Since then, we have seen, as symptoms of a representativity crisis, hundreds of protests that have been happening around the world.
      </p>

      <p>
        It is also possible to observe another crisis, an institutional one, manifested in the hardship of institutions to give vent to the collective desires of individuals. In this sense, political parties have lost the capacity to attract people to give continuance to their constructions, and even NGOs and social movements, which began to cater to this shortage in the last twenty years, have increasingly felt the same difficulty.
      </p>

      <p>
        As a background of the institutional and representativity crisis, we observe a dangerous issue: the lack of positive references. This difficulty to find possible solutions for challenges experienced in the 21st century and the lack of references pushes citizens away from the construction of alternatives and prolongs the institutional and representativity crises.
      </p>

      <p>
        However, if we look carefully at the global scenario, we observe the rise of a field that points to new possibilities – the field of emerging political practices. This field acts in the frontier of democratic processes, expanding the limits of interaction possibilities between citizen and State.
      </p>

      <p>
        The actors in the field of political innovation are developing experiments all over the world, in different ways, different contexts, with different objectives. We observe that these experiments indicate possible paths to update the politics of the 21st century. In this sense, carefully understanding this field allows for a more clear visualization of the paths to overcome the representativity and the institutional crises, as well as for creation of references to leverage this overwhelming wave of political transformation.
      </p>

    </section>

      <!-- TEAM -->

    <section class="dark1">

      <h1>
        Update Team
      </h1>

      <p>
        Beatriz Pedreira is a social scientist. She has eleven years of experience in public and political innovation. Recently she was co-director of the research Sonho Brasileiro da Política (Brazilian Dream of Politics) and the project Jogo da Política (The Game of Politics), a methodology of political education for young people.
      </p>

      <p>
        Caio Tendolini is an economist and an enthusiast collective projects with positive impact in the society. He was part of For a do Eixo (Out of Axis), cofounded Toque no Brasil (Play in Brazil), the channel Wings for Change in Catarse (Brazilian crowdfunding site) and the political party Rede Sustentabilidade (Sustainability Network).
      </p>

      <p>
        Rafael Poço is a lawyer and activist of socioenvironmental and democracy strengthening causes. He worked in the Public Ministry, in non-governmental organizations and always acted in collective projects towards rights defense, sustainability and citizenship promotion. He recently worked as an advisor for Marina Silva in her 2014 presidential campaign.
      </p>

      <p>
        Tulio Malaspina majored in social communication with specialization in marketing and works as a consultant in strategic planning and mobilization. He is the founder of SustentaLab and collaborator of Escola de Ativismo (Activism School).
      </p>

    </section>


    <!-- SPONSORS -->

    <section class="dark2">
      <h1>
        Update Team
      </h1>

      <p>
        Since its start, Update received investments from foundations and financial resources from people.
      </p>

      <h2>
        People
      </h2>

      <ul>
        <li>Drica Guzzi</li>
        <li>Maria Alice Setubal</li>
        <li>Gisela Moreau</li>
      </ul>

      <h2>
        Institutions
      </h2>

      <ul>
        <li>Fundação AVINA</li>
        <li>Fundação Porticus</li>
        <li>Instituto Arapyau</li>
        <li>Instituto PDR</li>
        <li>Open Society Foundation</li>
      </ul>

      <h2>
        Collaborators
      </h2>

      <p>
        Juliana Nolasco, Pedro Abramovay, Pablo Collado, Lúcia Nader, Eduardo Rombauer, Talita Montiel, Raul Torres, Guilherme Turri, Manoela Miklos, Matias Bianchi, Ana Carolina Evangelista, Oliver Stuenkel, Gabi Juns, Luiz Eduardo Soares, Carla Mayumi
      </p>

    </section>

  </div>
</template>
