<template name="download">
  <div id="container">
		<div id="intro" class="content light1">
			<div class="sub_content">
				<div class="content_title">DOWNLOAD THE DATA</div>
				<p class="text">The full database of this mapping is available for download under the Creative Commons License – CC BY Attribution. This license allows anyone to distribute, remix, adapt and create from our work, even for commercial purposes, provided they give us credit for the original creation..</p>
			</div>
		</div>

		<div id="download" class="content light2">
			<div class="sub_content">
				<div id="download_bd" class="download_bt">
					BANCO DE DADOS COMPLETO
					<div class="download_sub">FORMATO CSV</div>
				</div>
				<div id="download_hubs" class="download_bt">
					HUBS
					<div class="download_sub">FORMATO CSV</div>
				</div>
				<div id="download_signals" class="download_bt">
					SINAIS
					<div class="download_sub">FORMATO CSV</div>
				</div>
			</div>
		</div>
	</div>
</template>
