<template name="hubs">


  <h1>
    Introduction
  </h1>

  <p>
    Hubs are organisms – institutional or not – that develop actions and work as innovation signal emitters. Considering that the signal is the priority indicator in this mapping, the categorization of hubs aims to evidence the actors which are creating and executing these signals and their configuration. For observation, they were classified through the use of two criteria: nature of their constitution and if they are a financer or not.
  </p>

  <h1>
    Natures
  </h1>

  {{#each natures }}
    <h2>{{ en }}</h2>
    <p>
      {{ description_en }}
    </p>
  {{/each}}


</template>
