<template name="mapping">

  <div id="fake_header"></div>

  <div id="container">

  		<div id="about" class="content light1">
  			<div class="sub_content">
  				<div class="content_title">{{_ "mappingPage.about.title" }}</div>
          {{{_ "mappingPage.about.text" }}}
  			</div>
  		</div>

  		<div id="methodology" class="content light2">
  			<div class="sub_content">
  				<div class="content_title">{{_ "mappingPage.methodology.title"}}</div>
          {{{_ "mappingPage.methodology.text" }}}
  			</div>
  		</div>

      <div id="coverage" class="content light1">
        <div class="sub_content">
          <div class="content_title">{{_ "mappingPage.coverage.title" }}</div>
          {{{_ "mappingPage.coverage.text" }}}
        </div>
      </div>

      <div id="team" class="content light2">
  			<div class="sub_content">
  				<div class="content_title">{{_ "mappingPage.team.title"}}</div>
          {{{_ "mappingPage.team.text" }}}
  			</div>
  		</div>

      <div id="digital-platform" class="content light1">
        <div class="sub_content">
          <div class="content_title">{{_ "mappingPage.digitalPlatform.title" }}</div>
          {{{_ "mappingPage.digitalPlatform.text" }}}
        </div>
      </div>

      <div id="partners" class="content light2">
        <div class="sub_content">
          <div class="content_title">{{_ "mappingPage.partners.title"}}</div>
          {{{_ "mappingPage.partners.text" }}}
        </div>
      </div>



  </div>


</template>
