<template name="mapping">

  <div id="fake_header"></div>

  <div id="container">

  		<div id="about" class="content light1">
  			<div class="sub_content">
  				<div class="content_title">Sobre o mapeamento</div>

  				<p>O Update acredita que retratar e criar uma visualização para o ecossistema de práticas políticas emergentes é um passo relevante para subsidiar a afirmação da existência desse campo e, a partir dessas evidências, potencializar uma visão de coletividade e pertencimento para os atores envolvidos nos processos políticos de aprofundamento e atualização da democracia na região latinoamericana.</p>

  				<p>Por meio de pesquisa, análise e visualização de dados sobre o desenvolvimento das práticas políticas emergentes, o Update pretende gerar insights e compartilhar ideias que contribuam para o fortalecimento do ecossistema, bem como no fomento a novos experimentos. </p>

  				<p>Para atingir este objetivo o Update disponibiliza este mapeamento permanente das iniciativas que compõem esse campo, identificando os atores (hubs) que o integram e criando um retrato dinâmico que permita dar visibilidade as suas ações (sinais). Para facilitar a visualização das iniciativas mapeadas criamos essa plataforma interativa que ajuda a navegar pelas terminologias e filtros de forma mais fácil.  </p>

  				<p>Iniciamos o mapeamento em junho de 2015, e chegamos a 700 iniciativas cadastradas em novembro do mesmo ano. Em janeiro de 2016 mais de 150 iniciativas deixaram de existir, o que demonstra a dinâmica altamente volátil desse campo. Ao mesmo tempo, a cada semana identificamos iniciativas recém criadas, que se somam a esta visão de ecossistema. A plataforma de visualização do mapeamento foi lançada em abril de 2016 e continua sendo atualizada diariamente pela equipe do Update.</p>

  			</div>
  		</div>

  		<div id="methodology" class="content light2">
  			<div class="sub_content">
  				<div class="content_title">Metodologia</div>

  				<p>A partir da hipóstese de que um novo ecossistema de participação políitica emerge na América Latina, realizamos ao longo de 10 meses uma pesquisa de caráter exploratório que mapeou indícios e evidências que contribuem para a criação de um Estado mais permeável e de uma cidadania mais ativa, onde as distâncias entre sociedade civil e poder público estão reduzidas. </p>

  				<p>Considerando a complexidade desse contexto, a ausência de bibliografia específica, o desconhecimento sobre a abrangência do campo e a relevância de estabelecer um processo laboratorial e permanente, optou-se pela realização de uma pesquisa de dados secundários, que coletou uma série de informações publicadas, sobretudo na internet, por organizações, grupos, iniciativas e indivíduos que estão experimentando novas formas de participação e incidência no campo politico.</p>

  				<p>Os critérios iniciais para o mapeamento foram: </p>

  				<ul>
  					<li class="list">Geografia: iniciativas que se originam ou atuam diretamente na América Latina.</li>
  					<li class="list">Temática: iniciativas que atuam em temas relacionados com a redução da distância entre sociedade civil e poder público - participação cidadã; transparência e accountability; controle social; cultura política; mídia independente; e governo 2.0. Estes temas estão explicados na Seção Sinais da plataforma.</li>
  				</ul>

  				<p>A base de dados integra também informações coletadas por parceiros, tais como Sonho Brasileiro da Política, Civic Stack e Manifesto do Ecossistema Brasileiro da Participação Social, a partir das quais foram identificados graus variados de afinidade com a proposta deste mapeamento.</p>

  				<p>A partir da exploração livre dos dados, verificou-se a necessidade de criação de alguns critérios, como a poderação entre os países [o Brasil representa ⅓ da base de dados por sua dimensão geográfica e 21 países independentes e sob regime democrático foram contemplados] e a padronizacão da taxonomia, de tal forma que se assegurasse a observação precisa e consistente do campo. Utilizou-se ainda, como estratégia complementar, a realização de pequenos grupos de discussão com especialistas.</p>

  				<p>Os indícios e evidências identificados ao longo do processo de exploração foram denominados sinais e são os indicadores mais relevantes para esse mapeamento. Esses sinais são emitidos por múltiplos atores, os hubs, que também foram classificados para facilitar o entendimento e facilitar a construção de novas hipóteses.</p>

  				<p>Essa plataforma, inédita e experimental, revela aproximadamente 700 hubs e sinais classificados a partir de critérios como:</p>

  				<ul>
  					<li class="list">Hubs: natureza, país, abrangência [local, nacional, regional e internacional] e se é financiador do ecossistema.</li>

  					<li class="list">Sinais: país, abrangência [local, nacional, regional e internacional], tipo de tecnologia [social ou digital], propósito de impacto [empoderamento ou incidência] temática relacionada e tipo de mecanismo que utiliza [métodos ].
  				</li></ul>


  				<p>O objetivo, portanto, é olhar de forma ampla para esse ecossistema, identificando atores e práticas e facilitando a visualização da base de dados. Como desdobramentos, o Update prevê a realização de outros estudos para aprofundar as hipósteses formuladas nessa fase.</p>

  				<p>Esse mapeamento é uma amostra, de caráter exploratório, das iniciativas da América Latina. Não seria possível mapear todas as iniciativas por conta da natureza altamente dinâmica desse campo, ou seja, a velocidade que emergem, se transformam ou são descontinuadas. Além disso, existe uma forte influência do contexto social, político e econômico de cada país sobre as iniciativas que emergem nesses locais, tornando profundamente complexo o entendimento sobre as iniciativas mapeadas.</p>

  				<p>As informações apresentadas nos descritivos das iniciativas são originais da fonte, extraídas de sites, midias sociais e apresentações institucionais.</p>



  			</div>
  		</div>

  	</div>
</template>
