<template name="signals">

  <div id="container">
    <div class="content light1">
      <div class="sub_content">
        <div class="content_title" id="intro">
          SINAIS
        </div>
        <p class="text">Os sinais são indícios e evidências de práticas políticas que reduzem a distância entre a sociedade civil e o poder público. São realizadas por múltiplos atores do ecossistema que nesse mapeamento denominamos de hubs.
        </p>
        <p class="text">A separação do ecossistema nessas duas categorias [sinais e hubs] permite a análise mais precisa das ferramentas, táticas e estrátégias desse campo.
        </p>
        <p class="text">Para que os sinais sejam observados de maneira mais aprofundada, foram classificados a partir de alguns critérios: Tema, Mecanismo que utiliza [métodos e ferramentas], Tipo, Propósito [empoderamento ou incidência] e Tecnologia [ social ou digital].
        </p>
      </div>
    </div>
    <div class="content light2" id="tech">
      <div class="sub_content">
        <div class="content_title">tecnologia
        </div>
        <p class="text">Ao se falar de inovação política, pensamos automaticamente em tecnologia. Porém, ao mapear o ecossistema, faz-se necessário separar as tecnologias digitais das tecnologias sociais.
        </p>
        <div class="subtitle">Social
        </div>
        <p class="text">Tecnologias sociais são processos, metodologias ou práticas utilizadas nos sinais de inovação política que não se centram no digital.
        </p>
        <div class="subtitle">Digital
        </div>
        <p class="text">Tecnologias digitais são aplicações, plataformas ou práticas dependentes dos meios digitais como ferramenta das ações propostas.
        </p>
      </div>
    </div>
    <div id="lists">
      <div class="content light1">
        <div class="sub_content">
          <div class="content_title" id="themes">temas
          </div>
          <ul class="list">
            <li style="background-color: rgb(173, 204, 143);" class="box">
              <div class="box_title">PARTICIPAÇÃO CIDADÃ
              </div>
              <p>Os sinais que atuam no tema da Participaçao Cidadã são voltados a ampliar o universo de cidadãos capazes de influenciar as definições coletivas sobre o interesse público, visando à redução da centralização das tomadas de decisão e à ampliação das condições objetivas para a prática política cidadã.
              </p>
              <p class="examples">
              </p>
            </li>
            <li style="background-color: rgb(125, 202, 163);" class="box">
              <div class="box_title">TRANSPARÊNCIA &amp; ACCOUNTABILITY
              </div>
              <p>Os sinais que atuam no tema de Transparência ampliam o acesso público aos dados e as informações do Poder Público como forma de cobrar por suas responsabilidades, sejam elas ligadas a prestação de contas ou ao desenvolvimento de políticas públicas.
              </p>
              <p class="examples">
              </p>
            </li>
            <li style="background-color: rgb(80, 196, 190);" class="box">
              <div class="box_title">CONTROLE SOCIAL
              </div>
              <p>Os sinais relacionados ao Controle Social criam e ampliam as condições para que a sociedade monitore ações e políticas públicas do Poder Público desde a sua concepção, planejamento e a execução com a finalidade de identificar falhas e/ou garantir a realização das decisões.
              </p>
              <p class="examples">
              </p>
            </li>
            <li style="background-color: rgb(59, 185, 212);" class="box">
              <div class="box_title">GOVERNO 2.0
              </div>
              <p>Os sinais relacionados ao tema Governo 2.0 incorporam novas práticas que transformam a forma como o Poder Público se relaciona com a sociedade. Possibilitam maior interação e colaboração com os cidadãos na criação de serviços públicos e acesso a informação, aumentando o conhecimento sobre as demandas e a necessidade de seus beneficiários.
              </p>
              <p class="examples">
              </p>
            </li>
            <li style="background-color: rgb(92, 171, 223);" class="box">
              <div class="box_title">COMUNICAÇÃO INDEPENDENTE
              </div>
              <p>Os sinais relacionados ao tema da Comunicação Independente contribuem para difusão de conhecimento e da formação da opinião pública livres de intereses particulares e grupos específicos. O uso da informação de forma estratégica a partir diferentes formas de transmissãoamplia seu alcance, produzindo novas visualizações que permitem maior comprensão sobre seu significado.
              </p>
              <p class="examples">
              </p>
            </li>
            <li style="background-color: rgb(138, 153, 215);" class="box">
              <div class="box_title">CULTURA POLÍTICA
              </div>
              <p>Os sinais relacionados ao tema da Cultura Política colaboram para o aumento do conhecimento sobre o funcionamento das instituições democráticas, os direitos civis, sociais e políticos, visando ao fortalecimento da cidadania e estímulam a reflexão crítica sobre a democracia na em seus países.
              </p>
              <p class="examples">
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="content light2">
        <div class="sub_content">
          <div class="content_title" id="mechanisms">mecanismos
          </div>
          <ul class="list">
            <li class="box off">
              <div class="box_title">SENSIBILIZAÇÃO
              </div>
              <p>Os Mecanismos de Sensibilização são ferramentas potentes de conscientização de cidadãos para evidenciar, aquecer, tornar atrativo, esclarecer o debate e atrair o opinião pública para um tema específico a partir de uma abordagem mais criativa e lúdica.
              </p>
              <p class="examples">Intervenção Artística, Atividades Culturais, Humor, Campanha de Sensibilização, Manifesto e Conscientização Eleitoral.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">FORMAÇÃO
              </div>
              <p>A educação e a pedagogia política são grandes aliados para o desenvolvimento de uma cidadania que busca mais participação dos cidadãos no debate político. Os Mecanismos de Formação estão voltados para a capacitação de indivíduos para a cidadania mais ativa, atuação política ou execução da função pública.
              </p>
              <p class="examples">Oficina, Vivência, Curso, Manual, Jogo.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">PRODUÇÃO DE CONHECIMENTO
              </div>
              <p>A geração de análises sobre a política, democracia e questões de interesse público são cruciais para a emergência e o fortalecimento de novas práticas políticas. São estudos, pesquisas e conhecimento que desenvolvem reflexões sobre o campo ao mesmo tempo que o observa.
              </p>
              <p class="examples">Pesquisa, Estudo, Análise de Dados, Ensaio, Sistematização de Conhecimento.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">LEVANTAMENTO E VIZUALIZAÇÃO DE DADOS
              </div>
              <p>A era digital gerou espaço para uma quantidade infinita de dados e informações brutas, e quando se trata da área pública, a complexidade dessa compreensão é elevada. Os mecanismos de levantamento de dados e visualização de informação são utilizados para coletar dados e transformá-los em informações compreensíveis e acessíveis a um público mais amplo.
              </p>
              <p class="examples">Banco de Dados, Georreferenciamento, Infográfico, Grafos de Rede, Gráficos.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">FOMENTO
              </div>
              <p>Para que o ecossistema ganhe força, são necessárias atividades que estimulem seu amadurecimento e desenvolvimento. Os mecanismos de fomento são atividades que fortalecem o trabalho das iniciativas seja por meio do incentivo financeiro, pela promoção de reconhecimento ou pelo aporte de inteligência em áreas específicas.
              </p>
              <p class="examples">Concurso, Aceleração e Incubação, Matchfunding.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">FISCALIZAÇÃO E MONITORAMENTO
              </div>
              <p>Os mecanismos de fiscalização e monitoramento são ferramentas ou práticas que ajudam no controle social das atividades e responsabilidades do Estado ou candidatos, permitindo que a sociedade civil cumpra o papel de verificar e apontar os excessos e falhas do setor público, bem como as promessas e compromissos dos agentes públicos.
              </p>
              <p class="examples">Indicadores, Monitoramento Descentralizado, Auditoria, Fact Checking.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">DISSEMINAÇÃO
              </div>
              <p>As mídias investigativas e independentes tem papel importante na difusão de informações que empoderam o cidadão para cobrar o poder público. Os mecanismos de disseminação são formas de cobrir e reportar temas de interesse público, bem como a transmissão e os meios para que essa informação possa chegar até os cidadãos.
              </p>
              <p class="examples">Cobertura Colaborativa, Portal de notícias/Blogs, Reportagem, Transmissão.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">CONEXÃO E DIÁLOGO
              </div>
              <p>O reconhecimento e as trocas entre atores são práticas potentes para a articulação de iniciativas e de fortalecimento do ecossistema. Os mecanismos de conexão e diálogo são espaços ou momentos de intercâmbio onde atores têm a possibilidade de conhecer uns aos outros, trocar experiências e compartilhar aprendizados.
              </p>
              <p class="examples">Festival, Desconferência, Eventos (Seminário, Fórum, Colóquio, Conferência, Debate, Roda de Conversa e encontros ), Hackatons.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">MOBILIZAÇÃO E PRESSÃO
              </div>
              <p>Através da articulação e do engajamento, os sinais que utilizam esse mecanismos demonstram poder de mobilização e chamam a atenção tanto de quem toma a decisão quanto da opinião pública para as causas e bandeiras que atuam. Os mecanismos de mobilização e pressão são meios pelos quais a sociedade civil busca influenciar a tomada de decisão sobre questões públicas.
              </p>
              <p class="examples">Protesto, Ocupação, Abaixo-assinado, Advocacy, Desobediência civil, Manifestação, Campanha de Mobilização.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">CONTRIBUIÇÃO E COLABORAÇÃO
              </div>
              <p>Os processos colaborativos e descentralizados ganharam grande importância no início do século XXI e novas metodologias e ferramentas estão sendo criadas a partir desse novo paradigma. Os Mecanismos de Contribuição e Colaboração são meios que possibilitam e estimulam a participação direta dos cidadãos na construção de políticas públicas, leis ou melhorias para sua cidade.
              </p>
              <p class="examples">Cocriação, Rankeamento, Mandato interativo, Legislação Participativa, Crowdsourcing, Debate para Consenso.
              </p>
            </li>
            <li class="box off">
              <div class="box_title">PARTICIPAÇÃO
              </div>
              <p>Cursus mauris in. Dictumst leo consectetuer nec porttitor gravida leo varius metus. Urna hymenaeos bibendum mi non ultricies egestas pellentesque dolor. Per esse risus. Magna felis facilisis cursus duis pede aliquam scelerisque tortor. Vivamus dictum arcu. Lacus habitasse amet. Tellus arcu taciti morbi aliquam risus vestibulum vehicula mauris consectetuer vel eget.
              </p>
              <p class="examples">Resident Feedback, Governo Eletrônico, Mandato interativo.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content light1" id="purpose">
      <div class="sub_content">
        <div class="content_title">Propósito
        </div>
        <p class="text">
          Os sinais buscam impactar as realidades que se encontram a partir de diferentes abordagens. Essas diferenças pertencem a dois grandes padrões de ação: as mais focadas no cidadão e as mais focadas nas insituições.
        </p>
        <p class="text">
          Ainda que não sejam abordagens excludentes, buscou-se uma classificação binária, orientada pela intenção do sinal: empoderamento ou incidência.
        </p>
        <div class="subtitle">Empoderamento
        </div>
        <p class="text">
          São sinais cujo objeto é o cidadão. Promovem condições para que o cidadão desenvolva a cidadania e conheça, compreenda, analise e/ou questione o exercício do poder. O conhecimento sobre o papel social do cidadão - responsabilidades e direitos -  possibilita a emacipação individual e maior consciência coletiva.
        </p>
        <div class="subtitle">Incidência
        </div>
        <p class="text">São sinais cujo objeto é a institucionalidade. Promovem condições para que a participação do cidadão possa direta ou indiretamente impactar ou influenciar a política institucional. Aproximar cidadãos das instituições permite governos mais permeáveis e garante uma troca mais frequente entre cidadãos e governo.
        </p>
      </div>
    </div>
  </div>

</template>
