<template name="signals">

{{#markdown}}
# Introduction

Signals are traces and evidences of political practices that reduce the distance between civil society and public power. They are carried out by multiple actors of the ecosystem which in this mapping we call hubs.

The separation of the ecosystem in two categories [signals and hubs] allows for a more precise analysis of the tools, tactics and strategies of this field.

So that signals can be observed in a more profound way, they were categorized following some criteria: Theme, Mechanism used [methods and tools], Type, Purpose [empowerment or incidence] and Technology [social or digital].
{{/markdown}}

<h1>
</h1>

</template>
