<template name="signals">

  <div id="container">
    <div id="fake_header"></div>

    <div id="intro" class="content light1">
      <div class="sub_content">
        <div class="content_title">
          {{_ "signalsPage.title" }}
        </div>

        {{{_ "signalsPage.intro" }}}

      </div>
    </div>

    <div id="tech" class="content light2">
      <div class="sub_content">
        <div class="content_title">{{_ "signalsPage.types.title" }}</div>
        <p class="text">{{_ "signalsPage.types.intro" }}</p>
        <div class="subtitle">Social</div>
        <p class="text">{{_ "signalsPage.types.social" }}</p>
        <div class="subtitle">Digital</div>
        <p class="text">{{_ "signalsPage.types.digital" }}</p>
      </div>
    </div>

    <div id="lists">
      <div id="themes" class="content light1">
        <div class="sub_content">
          <div class="content_title">{{_ "signalsPage.themes.title" }}</div>
          {{{_ "signalsPage.themes.intro" }}}
          <ul class="list">
            {{#each themesList }}
              <li style="background-color: {{ color }};" class="box">
                <div class="box_title">{{ title }}</div>
                <p>{{ description }}</p>
                <p class="examples"></p>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div id="mechanisms" class="content light2">
        <div class="sub_content">
          <div class="content_title">{{_ "signalsPage.mechanisms.title" }}</div>

          {{{_ "signalsPage.mechanisms.intro" }}}
          <ul class="list">
            {{#each mechanismsList }}
              <li class="box off">
                <div class="box_title">{{ title }}</div>
                <p>{{ description }}</p>
                <p class="examples">{{ examples }}</p>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    
    <div id="purpose" class="content light1">
      <div class="sub_content">
        <div class="content_title">{{_ "signalsPage.purpose.title" }}</div>
        {{{_ "signalsPage.purpose.intro" }}}
        <div class="subtitle">{{_ "signalsPage.purpose.empowerment.title" }}</div>
        <p class="text">{{_ "signalsPage.purpose.empowerment.description" }}</p>
        <div class="subtitle">{{_ "signalsPage.purpose.incidency.title" }}</div>
        <p class="text">{{_ "signalsPage.purpose.incidency.description" }}</p>
      </div>
    </div>
  </div>

</template>
