form {
  margin: auto !important;
  max-width: 700px;
}

input {
  width: 100%;
  /* font-size: 30px; */
  text-align: center;
  padding: 25px 30px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  font-size: 18px;
}

#send_email {
  width: 100%;
  background: #f00;
  padding: 25px 30px;
  font-size: 18px;
  color: #fff;
  background: #2b3240;
  background-image: none;
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  cursor: pointer;
  font-weight: 600;
  background-image: url('layout/next.png');
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;

}
