<template name="appMenu">
  <div id="menu">

    <div id="menu_close"></div>

    <ul id="menu_bts">
      {{#each menuItens}}
        <li class="bt">{{ label }}</li>

        <!-- <div class="title">


          </a>
        </div>

        <div class="content">
          {{#if subItems}}
            <ul>
              {{#each subItems}}
                <li>
                  <a href="{{ pathFor ../path }}#{{ anchor }}">
                    {{label}}
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div> -->
      {{/each}}
    </ul>
  </div>
</template>
