<template name="appMenu">
  <div id="menu">

    <div id="menu_close_button"></div>

    <div class="ui accordion" id="menu_bts">
      {{#each menuItens}}
        <div class="title">
          <a href="{{ pathFor route }}" class=".bt">
            {{ label }}
          </a>
        </div>

        <div class="content">
          {{#if subItems}}
            <ul>
              {{#each subItems}}
                <li>
                  <a href="{{ pathFor ../path }}#{{ anchor }}">
                    {{label}}
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
