<template name="appMenu">
  <div id="menu">

    <div id="menu_close"></div>

    <ul id="menu_bts">
      {{#each menuItens}}
        <li class="bt {{ isSelected }}">{{_ menuItemLabel }}</li>
        {{#each anchors }}
          <li class="sub_bt selected">{{_ subMenuItemLabel }}</li>
        {{/each}}
      {{/each}}
    </ul>

    <ul id="contact">
      <li class="bt" id="email">
      </li>
      <li class="bt" id="medium">
      </li>
      <li class="bt" id="twitter">
      </li>
      <li class="bt" id="github">
      </li>
    </ul>
    <div id="contact_name"></div>

  </div>
</template>
