/*#menu {
  background: #1c212b;
  width: 400px;
  height: 100%;
  position: fixed;
  left: -400px;
  top: 0;
  z-index: 11;
}

.mobile
  #menu{
    width: 80%;
    left: -80%;
  }

#menu_close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-image: url('../layout/x.png');
  cursor: pointer;
}

.mobile
  #menu_close {
    top: 0;
    left: 5px;
  }

.bt {
  cursor: pointer;
}

#menu_bts{
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 100px;
    left: 35px;
    overflow: auto;
}

.mobile
  #menu_bts{
    top: 70px;
    left: 20px;
    font-size: 18px;
  }

#menu_bts::-webkit-scrollbar {
    height: 18px;
    width: 18px;
}
#menu_bts::-webkit-scrollbar-track {
	background-color:#1c212b;
}
#menu_bts::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	  border:#1c212b 5px solid;
    background-color:#676b73;
}#menu_bts::-webkit-scrollbar-thumb:hover{
    background-color:#fff;
}

#menu_bts
  .bt{
      margin-bottom: 10px;
      list-style: none;
      opacity: .3;
  }

#menu_bts
    .bt:hover{
        opacity: 1;
    }

#menu_bts
  .bt.selected{
      color: #fff;
      font-weight: 700;
      opacity: 1;
      cursor: default;
  }


.sub_bt{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  opacity: 0.3
}

.sub_bt:hover, .sub_bt.selected{
  opacity: 1;
}*/
