<template name="natureList">
    <h1>Nature listing</h1>
    {{#if Template.subscriptionsReady}}
      <a class="ui button" href="{{pathFor route='nature.create'}}" role="button">new</a>
      <table class="ui table">
        <thead>
          <tr>
              <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each natures}}
            <tr>
                <td>
                  <a href="{{ pathFor route='nature.edit' }}">
                    {{ en }}
                  </a>
                  <a href="{{ pathFor route='nature.edit' }}" class="edit"></a>
                  <a class="remove"></a>
                </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      Loading...
    {{/if}}
</template>
