<template name="themeCreate">
  {{#autoForm collection="Themes" doc=this id="themeCreate" type="insert" template="semanticUI"}}

    <button type="submit" class="ui button">Create Theme</button>
    <a class="ui button" href="{{pathFor route='theme.list'}}" role="button">Back to index</a>
    <fieldset>
      {{> afQuickField name='en'}}
      {{> afQuickField name='description_en' rows=6}}
      {{> afQuickField name='es'}}
      {{> afQuickField name='description_es' rows=6}}
      {{> afQuickField name='pt'}}
      {{> afQuickField name='description_pt' rows=6}}
    </fieldset>
    <button type="submit" class="ui button">Create</button>
    <a class="ui button" href="{{pathFor route='theme.list'}}" role="button">Back to index</a>


  {{/autoForm}}
</template>
