<template name="themeForm">
  <h1>{{ formType }} theme</h1>

  {{#if Template.subscriptionsReady}}
    {{#autoForm collection="Themes" doc=this id="themeForm" type=formType template="semanticUI"}}

      <fieldset>
        <button type="submit" class="ui button">{{ formType }}</button>
        <a class="ui button" href="{{pathFor route='theme.list'}}" role="button">back</a>
        {{> afQuickField name='en'}}
        {{> afQuickField name='description_en' rows=6}}
        {{> afQuickField name='es'}}
        {{> afQuickField name='description_es' rows=6}}
        {{> afQuickField name='pt'}}
        {{> afQuickField name='description_pt' rows=6}}
      </fieldset>

    {{/autoForm}}
  {{else}}
    Loading...
  {{/if}}
</template>
